// Variables
// Restated Bootstrap Variables

/* Palette color codes */
$primary-100: #92e85a;
$primary-300: #78e232;
$primary-500: #58e000;
$primary-700: #44ad00;
$primary-900: #368800;

$secondary-100: #9152c0;
$secondary-300: #7930b0;
$secondary-500: #660bab;
$secondary-700: #4e0884;
$secondary-900: #3d0568;

$secondary-100: #ffb863;
$secondary-300: #ffa539;
$secondary-500: #ff8b00;
$secondary-700: #c56b00;
$secondary-900: #9b5400;


$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$primary: $primary-500;
$secondary: $secondary-500;
